/problematicas/Problematica001/problema001/nbproject/private/
/problematicas/Problematica001/problema001/build/
/problematicas/Problematica002/Problema002/nbproject/private/
/problematicas/Problematica002/Problema002/build/
/problematicas/Problematica003/Problema003/nbproject/private/
/problematicas/Problematica003/Problema003/build/
/problematicas/Problematica004/Problema004/nbproject/private/
/problematicas/Problematica004/Problema004/build/
/problematicas/Problematica005/Problema005/nbproject/private/
/problematicas/Problematica005/Problema005/build/
